# Servidor
PORT=3000
BASE_URL=http://localhost:3000

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/anatpat

# Sessão
SESSION_SECRET=uma_chave_super_secreta_e_grande_aqui

# Email
EMAIL_USER=seuemail@gmail.com
EMAIL_PASS=sua_senha_de_app