# Servidor
PORT=3000
BASE_URL=http://localhost:3000

#Intervalo de tempo que o curso estará disponível
COURSE_START_DATE=Datanoformato(yyyy-mm-dd)
COURSE_END_DATE=Datanoformato(yyyy-mm-dd)

# MongoDB
MONGO_URI=mongodb://127.0.0.1:27017/
MONGO_DB_NAME=nomedobanco

# Sessão
SESSION_SECRET=uma_chave_super_secreta_e_grande_aqui

# Email
EMAIL_USER=seuemail@gmail.com
EMAIL_PASS=sua_senha_de_app

# Link dos cursos
LINK_CURSOS=link para o curso que será enviado por email
# Prefixo de rota (usado quando a app roda atrás de um proxy em subpath)
# Exemplo: BASE_PATH=/anatpat_courses
# Deixe vazio para rodar na raiz
BASE_PATH=/anatpat_courses
