# dependências
node_modules/

# env
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / editor
.DS_Store
.vscode/
.idea/

# build
dist/
build/
curso/*
!curso/index.html
!curso/config_curso.json
!curso/config_certificado.json