<!doctype html>
<html lang="pt-br">
<style>
  body {
      background: url('/assets/unicamp-blur.jpg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
  }
</style>
<head>
  <meta charset="UTF-8">
  <title>Admin - Buscar Comprovantes</title>

  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="bootstrap/js/bootstrap.bundle.min.js" rel="stylesheet"></script>

  <script src="/sweetalert/sweetalert2.min.js"></script>
  <link rel="stylesheet" href="/sweetalert/sweetalert2.min.css">

  <script src="/inputmask/inputmask.min.js"></script>
</head>

<body class="bg-light">
  <main class="container mt-5">
    <div class="card shadow p-4">

      <h4 class="mb-3">Buscar comprovante por CPF</h4>

      <form method="post" action="/admin/search">
        <div class="mb-3">
          <input class="form-control mb-3" name="cpf" id="cpf" placeholder="CPF do usuário" required>
        </div>
        <button class="btn btn-primary w-100">Buscar</button>
      </form>

      <% if (result) { %>
        <hr>
        <h5>Usuário encontrado</h5>
        <p><strong>Nome:</strong> <%= result.nome %></p>
        <p><strong>CPF:</strong> <%= result.cpf %></p>

        <a
          class="btn btn-success"
          href="/download/<%= result.fileId %>"
        >
          Baixar comprovante
        </a>
      <% } %>
      <a href="/admin" class="btn btn-link mt-3">Voltar ao painel</a>
    </div>
  </main>

  <% if (error) { %>
    <script>
      Swal.fire({
        icon: 'warning',
        title: 'Atenção',
        text: '<%= error %>'
      })
    </script>
  <% } %>
  <script src="/util/inputmask.js"></script>
</body>
</html>
