<!doctype html>
<html lang="pt-br">

<style>
    body {
        background: url('/assets/unicamp-blur.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Redefinir Senha</title>

    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js" rel="stylesheet"></script>

    <script src="/sweetalert/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="/sweetalert/sweetalert2.min.css">
</head>

<body class="bg-light">
    <main class="container d-flex justify-content-center align-items-center vh-100">
        <div class="card p-4 shadow" style="max-width: 500px; width: 100%;">
            <h4 class="text-center mb-3">Redefinir Senha</h4>

            <form action="/reset-password/<%= token %>" method="post">
            <div class="mb-3">
                <label class="form-label" for="password">Nova Senha</label>
                <input 
                type="password"
                name="password"
                id="password"
                class="form-control"
                placeholder="Nova Senha"
                required
                >
            </div>
            <div class="mb-3">
                <label class="form-label" for="passwordConfirm">Confirmar Nova Senha</label>
                <input 
                type="password"
                name="passwordConfirm"
                id="passwordConfirm"
                class="form-control"
                placeholder="Confirmar Senha"
                required
                >
            </div>
            <button class="btn btn-outline-primary w-100">
                Redefinir Senha
            </button>
            </form>
        </div>
    </main>
  
<% if (typeof error !== 'undefined') { %>
    <script>
        Swal.fire({
        icon: 'warning',
        title: 'Atenção',
        text: '<%= error %>'
        })
    </script>
<% } %>
</body>
</html>
